<div class="container">
  <div class="card m-auto mt-5 w-25">
    <img src="https://d7lju56vlbdri.cloudfront.net/var/ezwebin_site/storage/images/_aliases/img_1col/noticias/identificado-el-primer-fosil-de-pangolin-en-la-peninsula-iberica/6144106-2-esl-MX/Identificado-el-primer-fosil-de-pangolin-en-la-peninsula-iberica.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Samuel Zecirovic</h5>
      <p class="card-text">version 3</p>
      <p class="card-text">20/03/2022</p>
    </div>
  </div>
</div>
